<launch>
    <!-- Start RViz -->
    <include file="$(find moveit_ros_visualization)/launch/moveit_rviz.launch">
      <arg name="config" value="$(find your_package_name)/launch/moveit.rviz" />
    </include>
  
    <!-- RViz Visual Tools GUI -->
    <node name="rviz_visual_tools_gui" pkg="rviz_visual_tools" type="RvizVisualToolsGui" output="screen">
      <param name="debug" value="false" />
    </node>
  </launch>