<launch>
    <arg name="tcp_ip" default="0.0.0.0"/>
    <arg name="tcp_port" default="10000"/>

	<!-- ROS-TCP-Connector -->
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true">
		<param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
        <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
	</node>

    <!-- MoveIt -->
    <include file="$(find franka_panda_moveit)/launch/demo.launch"/>
    <!-- Mover.py script -->
    <node name="panda_mover" pkg="franka_panda_moveit" type="mover.py" args="--wait" output="screen"/>

 </launch>